<div class="wrapper-md" ng-controller="Administrator">  
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading font-bold"><i class="fa fa-user"></i> Tambah Administrator</div>
        <div class="panel-body">
          <form  ng-submit="save()" enctype="multipart/form-data" method="POST" >
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="nama" name="nama" ng-model="form.name" required="">
            </div>
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Username" name="username" ng-model="form.username" required="">
            </div>
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>              
              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="form.password" required=""> 
            </div>                  
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <button class="btn btn-success btn-addon btn-md" type="submit" id="submit"><i id="load" class="glyphicon glyphicon-floppy-saved"></i>Simpan</button>
            <button class="btn btn-warning btn-addon btn-md" ui-sref="app.setting.admin">Batal</button>
          </form>
        </div>
      </div>
     

    </div>
        

  </div>

  
</div>