<div class="wrapper-md" ng-controller="ProfileWebsite">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading font-bold"><i class="fa fa-bank"></i> Profile Website</div>
        <div class="panel-body">          
          <form  ng-submit="save()" enctype="multipart/form-data" >
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-paragraph"></i></span>
              <input type="text" class="form-control" placeholder="judul" ng-model="form.judul" >
            </div>                        
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="Email" ng-model="form.email" >
            </div>                        
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
              <textarea ng-model="form.alamat" class="form-control" placeholder="Alamat"></textarea>
            </div>
            <style>
              .my-small-area .ta-editor{
                max-height: 125px ;
                min-height: 100px ;
              }
              /*ta-scroll-window ng-scope ta-text ta-editor form-control*/
            </style>
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-file-text"></i></span> 
              <div lazy-load="textAngular">
                <div text-angular ng-model="form.deskripsi" class="btn-groups my-small-area" ta-toolbar="[['bold','italics','underline'],['insertLink']]"></div>
              </div>              
            </div>
            <div class="input-group m-b">
            <button class="btn btn-primary btn-addon btn-md" ui-sref="app.setting.logo"><i class="glyphicon glyphicon-floppy-saved"></i>Logo</button><br><br>
            <img ng-src="{{gambar}}{{form.logo}}" style="max-width: 200px" >
            <hr>            
            <button class="btn btn-primary btn-addon btn-md" ui-sref="app.setting.gambar"><i class="glyphicon glyphicon-floppy-saved"></i>Gambar</button><br><br>
            <img ng-src="{{gambar}}{{form.gambar}}" style="max-width: 250px">
            <hr>
            </div>   
            <h2>SEO</h2>         
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-flag"></i></span>
              <input type="text" class="form-control" placeholder="judul SEO" ng-model="form.seo_judul" >
            </div>
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="icon icon-key"></i></span>
              <input type="text" class="form-control" placeholder="Kata Kunci" ng-model="form.seo_kata_kunci" >
            </div>
            <div class="input-group m-b">
              <span class="input-group-addon"><i class="fa fa-quote-right"></i></span>              
              <textarea ng-model="form.seo_deskripsi" class="form-control" placeholder="Deskripsi SEO"></textarea>              
            </div>
            <input type="hidden" ng-model="form.id" >
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <button class="btn btn-success btn-addon btn-md pull-right" type="submit"><i class="glyphicon glyphicon-floppy-saved"></i>Simpan</button>            
          </form>
        </div>
      </div>
    
    </div>      
    <div class="col-sm-4">
      
      <button class="btn btn-rounded btn btn-icon btn-default pull-right" ui-sref="app.setting.webmaster"><i class="fa fa-gear"></i></button>
    </div>
  </div>
</div>